{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            ">0.2%",
            "not dead",
            "not op_mini all"
          ]
        },
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    ["prismjs", {
        "languages": ["javascript", "css", "python"],
        "plugins": ["line-numbers","copy-to-clipboard"],
        "theme": "twilight",
        "css": true
    }]
  ]
}
