/* Fonte commune */
html {
  font-family: 'Source Code Pro';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  width: 95vw;
  max-width: 600px;
}

.reveal {
  position: relative;
  display: block;
}

table.reveal {
  display: table;
}

.reveal::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: grey;
  opacity: 1;
  transition: opacity 1s linear;
  cursor: pointer;
}

.reveal.clicked::after {
  opacity: 0;
  pointer-events: none;
}



.reveal:not(.clicked)::after {
  transition: none;
}

p {
  line-height:2;
}

/* Une marge basse dans les listes notamment pour les formules */
li {
  margin-bottom: 1em;
}

/* Balises détails et summary */
details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 1em;
  padding: 0.5em 1em;
  margin: 1em 0em;
}

summary {
  color: #31708F;
}

/* Pour la balise avec l'identifiant svgContainer mettre au moment du fullscreen un background blanc */
#svgContainer svg.fullscreen {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#svgContainer.fullscreen {
  /*Lorsque la div est en plein écran elle doit s'adapter à la largeur et la hauteur pour prendr le plus d'espace possible*/
  width: 100vw;
  height: 100vh;
}

.navbar {
  background-color: #0c655ca8;
  width: 100%;
}

.navbar ul {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navbar li {
  color: white;
  padding: 10px 20px;
}

.dropdown a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
}

.dropdown-content {
  display:none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  flex-direction: column;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Affichez le sous-menu lorsque le parent est survolé ou a la classe 'active'
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}*/

/*La fonte Katex*/
.katex {
  font-size: 1.2em;
}
/* Empêcher le retour à la ligne des formules */
.katex {
  white-space: nowrap;
}

/* Mettre la fonte katex en gras dans une balise important ou dans un titre h1, h2, h3*/
.important .katex, h1 .katex, h2 .katex, h3 .katex, strong .katex, b .katex, th .katex {
  font-weight: bold;
}


/* Formattage personnalisés */
.responsive-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.responsive-list li {
  flex: 1;
  padding: 0 10px;
  box-sizing: border-box;
}

/* Lorsque la largeur de l'écran est inférieure à 600px, les éléments passent en colonnes */
@media (max-width: 600px) {
  .responsive-list {
      flex-direction: column;
  }

  .responsive-list li {
      margin-bottom: 20px; /* Ajout d'une marge en bas pour l'espacement entre les éléments */
  }
}

/* Tableau de valeurs */
.tableauvaleurs {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid black;
  margin: 1em 0em;
  table-layout: fixed;
}
.tableauvaleurs tr td, .tableauvaleurs th {
  border: 1px solid black;
}
.tableauvaleurs th {
  font-weight: bold;
}

/* Tableaux de signes */
.tableausigne{
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid black;
  margin: 1em 0em;
}

/* Aligner à gauche le contenu de la deuxième colonne */
.tableausigne tr td:nth-child(2) {
    text-align: left;
}

/* Aligner à droite le contenu de la dernière colonne */
.tableausigne tr td:last-child {
    text-align: right;
}

.tableausigne tr:nth-child(n+2) td:nth-child(4), 
.tableausigne tr:nth-child(n+2) td:nth-child(6) {
    position: relative;
}

.tableausigne tr:nth-child(n+2) td:nth-child(4)::before, 
.tableausigne tr:nth-child(n+2) td:nth-child(6)::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    border-left: 1px solid #000000;
}

.tableausigne tr:nth-child(n+2) td:nth-child(4) span, 
.tableausigne tr:nth-child(n+2) td:nth-child(6) span {
    position: relative;
}

.tableausigne td:nth-child(1) {
  border-right: 1px solid black;
}
.tableausigne tr:nth-child(1) {
  border-bottom: 1px solid black;
}

/* Footer en réflexion */
footer {
  display:none;
}

.page-break {
  page-break-after: always;
}

.deuxcolonnes {
  column-count: 2;
  column-rule: 1px solid black;
  width: 100vw;
  max-width: 100vw;
}
