/* Fonte commune */
html {
  font-family: 'Source Code Pro';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  width: 100vw;
  max-width: 600px;
}

.navbar {
  background-color: #0c655ca8;
  width: 100%;
}

.navbar ul {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navbar li {
  padding: 10px 20px;
}

.navbar li{
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
}

.dropdown {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
}

.dropdown-content {
  display:none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  flex-direction: column;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Affichez le sous-menu lorsque le parent est survolé ou a la classe 'active'*/
.dropdown:hover .dropdown-content,
.dropdown.active .dropdown-content {
  display: flex;
  flex-direction: column;
}