/* Une marge basse dans les listes notamment pour les formules */
li {
    margin-bottom: 1em;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 1em;
  padding: 0.5em 1em;
  margin: 1em 0em;
}

details.solution {
  background-color: #fdd;
  border: 1px solid #f00;
  border-radius: 4px;
  padding: 1em;
  margin: 0.5em 0em 1em 0em;
}

details.indice {
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 1em;
  margin: 0.5em 0em 1em 0em;
}

.titreExercice, .titreQuestion {
  font-weight: bold;
  font-size: 1.2em;
}

/* Empêcher le retour à la ligne des formules */
.katex {
  white-space: nowrap;
}