.definition {
  background-color: rgba(255, 100, 100, 0.269);
  padding: 0.5em 1em;
  margin: 1em 0em;
  border: 1px solid red;
  border-radius: 10px;
}

.propriete {
  background-color: rgba(100, 255, 100, 0.269);
  padding: 0.5em 1em;
  margin: 1em 0em;
  border: 1px solid green;
  border-radius: 10px;
}

.methode {
  background-color: rgba(42, 177, 170, 0.269);
  padding: 0.5em 1em;
  margin: 1em 0em;
  border: 1px solid blue;
  border-radius: 10px;
}

/* Entetes des définitions, propriétés, remarques, exemples */
.header {
  font-weight:bold;
  padding:0em 0.5em;
}

.header-definition {
  color:white;
  background-color:red;
}

.header-propriete {
  color:white;
  background-color:green;
}

.header-remarque {
  color:black;
  background-color:transparent;
  font-style:italic;
}

.header-methode {
  color:black;
  background-color:transparent;
  font-style:italic;
}

.header-exemple {
  color:black;
  background-color:transparent;
  font-style:italic;
}

.header-proof {
  color:black;
  background-color:transparent;
  font-style:italic;
}

#tableOfContents {
  padding:1em 1em;
  line-height:2;
}

#tableOfContents a {
  color: blue;
  /*text-decoration: none;*/
}

#tableOfContents a:hover {
  text-decoration: underline;
}

summary {
  color: #31708F;
}

.detailExemple {
  background-color: transparent;
}

.detailDemonstration {
  background-color: transparent;
}