@media print {
  body {
    width: 100vw;
    max-width: 100vw;
  }

  html {
    font-size: 10pt;
  }

  /* Gain d'espace */
  p,
  li,
  ol,
  ul {
    margin: 0em;
  }

  @page {
    size: A4;
  }

  /* Ne pas couper les définitions, propriétés */
  .definition,
  .propriete {
    page-break-inside: avoid;
  }

  /* Ne pas isoler un titre de section */
  h2 {
    page-break-after: avoid;
  }

  /* Pour gagner de l'espace les formules de mathématiques display sont en ligne */
  .katex-display {
    display: inline-block;
    margin: 0em;
  }

  /* Ne pas afficher les .solution et l'id sommaire*/
  .solution,
  #sommaire {
    display: none;
  }
}