@media print {
  body {
    width: 100vw;
    max-width: 100vw;
  }

  html {
    font-size: 10pt;
  }

  @page {
    size: A4;
  }

  /* Ne pas couper les définitions, propriétés */
  .definition,
  .propriete {
    page-break-inside: avoid;
  }

  /* Ne pas isoler un titre de section */
  h2 {
    page-break-after: avoid;
  }
}
