@media print {
  body {
    font-size: 10pt;
  }
  /* Gain d'espace */
  p,
  li,
  ol,
  ul {
    margin: 0em;
  }

  /* Pour gagner de l'espace les formules éléments de la class .katex-display contenus dans des éléments p sont en inline-block*/
  p span.katex-display,
  li span.katex-display
  {
    display: inline-block;
    margin: 0em;
  }

  /* Ne pas imprimer */
  .solution,
  .indice,
  .background-figure,
  #sommaire,
  #formulaire,
  .quiz-choices,
  .quiz-button-valider,
  button,
  nav,
  .introduction-quiz,
  #score {
    display: none !important;
  }

  #printquiz {
    display: block;
  }

  .nom-prenom-classe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0em;
    gap: 1em; /* Espacement entre les colonnes */
  }

  .titrePrintQuiz-date {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0em 2em 0em;
    gap: 1em; /* Espacement entre les colonnes */
    text-align: center;
    font-size: larger;
    font-weight: bold;
  }

  .question {
    padding: 0em 0em 0.2em 0em;
  }

  /* Responsive listes */
  .responsive-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }

  .responsive-list li {
    flex: 1;
    padding: 0 10px;
    box-sizing: border-box;
  }

  /* Cette partie permet de mettre l'énoncé de la question juste après le titre de la question */
  div > strong,
  div > p {
    display: inline; /* Les rend inline plutôt que block */
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les paddings par défaut, si nécessaire */
  }

  div > p::before {
    content: " "; /* Ajoute un espace avant le contenu du <p> */
  }

  /* Impression du bas de page */
  .page-content {
    min-height: calc(100% - (1em));
    position: relative;
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  svg {
    width: 50%;
  }
}