@media print {
  /* Gain d'espace */
  p, li, ol, ul {
    margin: 0em;
  }

  /* Pour gagner de l'espace les formules éléments de la class .katex-display contenus dans des éléments p sont en inline-block*/
  .katex-display p, .katex-display li {
    display: inline-block;
    margin: 0em;
  }

  /* Ne pas imprimer */
  .solution, .indice, #sommaire, button, nav {
    display: none;
  }

  /* Responsive listes */
  .responsive-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }
  
  .responsive-list li {
    flex: 1;
    padding: 0 10px;
    box-sizing: border-box;
  }
}
