@media print {
  @page {
    size: A4;
    margin-top: 5mm;
    margin-bottom: 5mm;
  }
  footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #aaa;
  }
  header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #aaa;
    font-size: normal;
  }
  /* Si le body ne contient pas class deuxcolonnes alors header est display none */
  body:not(.deuxcolonnes) header {
    display: none;
  }
  body {
    width:100vw;
    max-width: 100vw;
    padding-top: 5mm;
  }
  body.quadrillage {
    background-image: 
      linear-gradient(0deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
      linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    background-size: 5mm 5mm;
  }
  .copied {
    margin-bottom: 2em;
  }
  /* Gain d'espace */
  p,
  li,
  ol,
  ul {
    margin: 0em;
  }

  /* Pour gagner de l'espace les formules éléments de la class .katex-display contenus dans des éléments p sont en inline-block*/
  p span.katex-display/*, li span.katex-display */
  {
    display: inline-block;
    margin: 0em;
  }

  /* Sauf quand ils sont dans un environnement div avec la class equation */
  p div.equation span.katex-display,
  li div.equation span.katex-display
  {
    display: block;
    margin: 0.5em;
  }

  /* Ne pas imprimer */
  .video,
  .selectionneur,
  .solution,
  .indice,
  /* .background-figure, */
  #sommaire,
  #formulaire,
  .noprint,
  .quiz-button-valider,
  button,
  nav,
  #console,
  .introduction-quiz,
  .sidebar,
  #score {
    display: none !important;
  }

  #printquiz {
    display: block;
  }

  .nom-prenom-classe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0em;
    gap: 1em; /* Espacement entre les colonnes */
  }

  #enteteQuiz {
    display:block;
  }
  .titrePrintQuiz {
    display: block;
    text-align: center;
    font-size: larger;
    font-weight: bold;
  }

  .question {
    padding: 0em 0em 0.2em 0em;
  }

  /* Responsive listes */
  .responsive-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }

  .responsive-list li {
    flex: 1;
    padding: 0 10px;
    box-sizing: border-box;
  }

  /* Cette partie permet de mettre l'énoncé de la question juste après le titre de la question */
  div > strong,
  div > p {
    display: inline; /* Les rend inline plutôt que block */
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les paddings par défaut, si nécessaire */
  }

  div > p::before {
    content: " "; /* Ajoute un espace avant le contenu du <p> */
  }

  /* Impression du bas de page */
  .page-content {
    min-height: calc(100% - (1em));
    position: relative;
  }

  svg {
    width: 100%;
  }
  
  .solution-quiz {
    display: inline-block;
  }
  .deuxcolonnes {
    column-count: 2;
    column-rule: 1px solid black;
    width: 100vw;
    max-width: 100vw;
    padding-top: 5mm;
  }
  /* Empêcher le saut de page pour les les div avec la class div-formulaire */
  .quiz {
    page-break-inside: avoid;
  }
  .background-figure {
    fill: white;
    fill-opacity: 1;
  }

  /* Flashcards */
  .flashcard {
    width: 100%;
    height: 31vh;
    margin: 0;
    perspective: none;
  }

  .card-face {   
    position: relative; /* Assure que les deux faces sont positionnées correctement */
    transform: none !important; /* Annule les transformations comme rotateY */
    width: 50%; /* Chaque face prend la moitié de la largeur de la carte */
    /* Centrer verticalement */
    justify-content: center;
  }

  .card-face.back {
    background:none; /* Supprime le fond */
  }
  .card-face.front {
    background:none; /* Supprime le fond */
  }
  /* Supprimer la coloration de Prism.js */
  .token {
    color: inherit !important;
  }

  /* Définitions, propriétés, remarques, methodes */
  .header-definition,.header-propriete,.header-remarque,.header-methode {
    background-color:transparent;
    color: rgb(0, 0, 0);
  }
}