.choix {
  padding: 1em;
}

.qcm {
  visibility: hidden;
}

/* Si le svg est situé dans un div de la class class="formulaire-quizz" le width du svg est à 100%*/
.div-formulaire svg {
  width:100%;
}

.quiz-button-valider {
  display:flex;
  align-items:center;
  justify-content:center;
}

.quiz-choices {
  display:flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

#printquiz {
  display: none;
}