.choix {
  padding: 1em;
}

.qcm {
  visibility: hidden;
}

/* Si le svg est situé dans un div de la class class="formulaire-quizz" le width du svg est à 100%*/
.div-formulaire svg {
  width:100%;
}

.quiz-button-valider {
  display:flex;
  align-items:center;
  justify-content:space-around;
}

.quiz-choices {
  display:flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

#printquiz {
  display: none;
}

#num-nb {
  font-size: large;
  font-weight: bold;
  padding: 1em 0em;
}

#question {
  padding: 0em 0em 1em 0em;
}

#score {
  padding: 1em;
  align-content: center;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.score {
  padding: 1em;
  align-content: center;
  text-align: center;
  font-weight: bold;
}

.introduction-quiz {
  display:"none";
}